body {
    font-family: sans-serif;
    background-color: #d2d2d2;
}

/*background*/
.background {
    background-color: #a4a4a4;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px black;
}

/*header*/
.header {
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.header-items {
    display: flex;
    flex-direction: column;
}

/*container*/
.calculator {
    background-color: #a4a4a4;
    width: fit-content;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*answer box*/
.result-row {
    background-color: white;
    border: 5px solid red;
    box-shadow: 3px 5px black;
    height: 90px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*calculator button properties*/
.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.button {
    width: 25%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 700;
}

.ac-button {
    background-color: lightcoral;
}

.equals-button {
    background-color: aquamarine;
}

.operator {
    background-color: grey;
}

.clear-history-btn {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.clear-history-container {
    display: flex;
}

/*results texts*/
.result {
    font-size: 30px;
    margin-right: 10px;
    text-align: right;
}

/*history container*/
.history {
    margin-top: 50px;
}

.history h2 {
    font-size: 30px;
}

.history-item-container {
    display: flex;
    flex-direction: column-reverse;
}

.history-item-container p {
    background-color: grey;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dark-mode-btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 2px black;
}

.dark-mode-btn:hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

@media only screen and (max-width: 380px) {
    .background {
        width: 90%;
    }

    .calculator {
        min-width: 100%;
    }

    .result-row {
        width: 100%;
    }

    .history-item-container p {
        width: 90%;
    }
}

/*Dark Mode properties*/

.dark-body {
    background-color: black;
    color: #ccc;
}