body {
    font-family: sans-serif;
}

/*background*/
.background {
    background-color: lightblue;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 3px 5px black;
}

/*header*/
.header {
    text-align: center;
    letter-spacing: 4px;
}

/*container*/
.calculator {
    background-color: lightblue;
    width: fit-content;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*answer box*/
.result-row {
    background-color: white;
    border: 5px solid red;
    box-shadow: 3px 5px black;
    height: 90px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*calculator button properties*/
.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.button {
    width: 25%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 700;
}

.ac-button {
    background-color: lightcoral;
}

.equals-button {
    background-color: aquamarine;
}

.operator {
    background-color: grey;
}

.clear-history-btn {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.clear-history-container {
    display: flex;
}

/*results texts*/
.result {
    font-size: 30px;
    margin-right: 10px;
    text-align: right;
}

/*history container*/
.history {
    margin-top: 50px;
}

.history h2 {
    font-size: 30px;
}

.history-item-container {
    display: flex;
    flex-direction: column-reverse;
}

.history-item-container p {
    background-color: grey;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 380px) {
    .background {
        width: 90%;
    }

    .calculator {
        min-width: 100%;
    }

    .result-row {
        width: 100%;
    }
}